.custom-search-input .MuiOutlinedInput-root {
  border-radius: 40px;
}

.custom-search-input .MuiOutlinedInput-root input {
  padding: 10px 15px 10px 0px;
}

.custom-search-input .MuiOutlinedInput-notchedOutline {
  border-color: #ccc;
}
.custom-listButton .MuiChip-filled {
  font-size: 10px;
  padding: 4px 5px;
  height: auto;
}
.customParagraph {
  font-weight: 500 !important;
  color: #002952 !important;
}
.custom-listButton p {
  font-weight: 400 !important;
  color: #929292;
  padding-top: 3px;
}
.customeAppendCnt .MuiChip-filledPrimary {
  font-size: 10px;
  padding: 6px 8px;
  height: auto;
}
.customeAppendCnt .MuiChip-filledSuccess {
  font-size: 10px;
  padding: 4px 5px;
  height: auto;
}
.customeAppendCnt .MuiChip-filledError {
  font-size: 10px;
  padding: 4px 5px;
  height: auto;
}
.txtlogin {
  font-size: 12px !important;
  padding: 5px 8x !important;
}
.customeAppendCnt h6 {
  font-size: 14px;
  color: #868686;
}
.customeAppendCnt h4 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  color: #333;
}
.customeAppendCnt h5 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.customeAppendCnt p {
  font-size: 15px;
  font-weight: 400;
  color: #333;
}
.txtError span {
  font-size: 11px !important;
}
.iconView {
  line-height: 1.9;
}
.iconView svg {
  font-size: 22px;
}
.iconView.json-view.iconView svg:nth-of-type(3) {
  display: none;
}
.iconView svg:hover {
  background: #1976d2;
  padding: 3px;
  border-radius: 20px;
  color: #fff;
}
.leftCategory {
  background: #e4e7eb !important;
  border-bottom: none !important;
  margin-bottom: 10px;
}
.leftCategory.MuiAccordionSummary-root {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.leftCategory .leftCategory:hover {
  background: "#f5f5f5";
}
.leftCategory::selection {
  background: "#e4e7eb !important";
}
.catetorymain .Mui-expanded {
  margin: 5px 0px !important;
  min-height: 20px !important;
}
